{% extends "base.html" %}
{% load bootstrap_pagination %}

{% block content %}
	<div class="container">
	    <h2>Articles{% if newspaper %} &ndash; {{ newspaper.newspaper_title }}{% endif %}</h2>
	    {% bootstrap_paginate page_obj range=10 show_prev_next="true" show_first_last="true" %}
	    <div class="list-group">
	        {% for article in object_list %}
	            <a class="list-group-item" href="{% url 'article-detail' pk=article.id %}">
	            	<span class="badge">{{ article.backlink_set.all|length }} citation{{ article.backlink_set.all|pluralize }}</span>
	            	<h4 class="list-group-item-heading">{{ article.title }}</h4>
	            	<p class="list-group-item-text">{{ article.date|date:'j F Y' }}, <i>{{ article.newspaper_title }}</i>, page {{ article.page }}</p>
	            </a>
	        {% endfor %}
	    </div>
	</div>
{% endblock %}