{% extends "trovetraces/base.html" %}

{% block content %}
	<div class="container">
		<div class="page-header">
			<h1>Trove Traces <small>searching for signs on the wild, wild web</small></h1>
		</div>
		<div class="row">
			<div class="col-md-6 text-center home-summary">
			    {{ backlinks }} links
			</div>
			<div class="col-md-6 text-center home-summary">
			    <p><a href="{% url 'article-list' %}"><i class="fa fa-arrow-circle-left"></i> {{ articles }} articles</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 text-center home-summary">
			    <p><a href="{% url 'page-list' %}">{{ pages }} pages <i class="fa fa-arrow-circle-right"></i></a></p>
			</div>
			<div class="col-md-6 text-center home-summary">
			    {{ domains }} domains
			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}
<p>Trove Traces presents a sample of the thousands of webpages that include links to articles in <a href="http://trove.nla.gov.au/newspaper?q=%20">Trove&rsquo;s newspapers zone</a>. How is Trove used? In what contexts do links appear? This is an attempt to explore some of the stories behind the stats.</p>
<p>This is a work-in-progress &ndash; more features and analysis will appear over coming months&hellip;</p>
{% endblock %}